<h1>Login Page</h1>
<form action="/register" method="POST">
    <label for="name">Name</label>
    <input type="text" placeholder="Name" required id="xyz" name="name" />
    <label for="username">UserName</label>
    <input type="text" placeholder="username" required id="xyz" name="username" />
    <label for="password">Password</label>
    <input type="password" id="password" required name="password" />
    <label for="phone">Phone</label>
    <input type="text" placeholder="Phone" required id="xyz" name="phone" />
    <label for="telephone">phone</label>
    <input type="text" placeholder="Telephone" required id="xyz" name="telephone" />

    <button>Login</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>